@font-face {
  font-family: 'MyWebFont';
  src: url('../fonts/helvetica-neue-bold/helveticaneuemedium1361522099.eot');
  src: url('../fonts/helvetica-neue-bold/helveticaneuemedium1361522099.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/helvetica-neue-bold/helveticaneuemedium1361522099.woff') format('woff'), /* Modern Browsers */ url('../fonts/helvetica-neue-bold/helveticaneuemedium1361522099.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/helvetica-neue-bold/helveticaneuemedium1361522099.svg#svgFontName') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
