.fonts (@file-base, @weight: normal, @style: normal) {
    @font-face {
        font-family: @file-base;
        src: url("../fonts/@{file-base}/@{file-base}.eot");
        src: url("../fonts/@{file-base}/@{file-base}.eot?#iefix") format("embedded-opentype"),
        url("../fonts/@{file-base}/@{file-base}.woff") format("woff"),
        url("../fonts/@{file-base}/@{file-base}.ttf") format("truetype"),
        url('../fonts/@{file-base}/@{file-base}.svg#svgFontName') format('svg');
        font-weight: @weight;
        font-style: @style;
    }
}

// @font-face {
//     font-family: 'MyWebFont';
//     src: url('../fonts/helveticaneuemedium1361522099/helveticaneuemedium1361522099.eot'); /* IE9 Compat Modes */
//     src: url('../fonts/helveticaneuemedium1361522099/helveticaneuemedium1361522099.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//     url('../fonts/helveticaneuemedium1361522099/helveticaneuemedium1361522099.woff') format('woff'), /* Modern Browsers */
//     url('../fonts/helveticaneuemedium1361522099/helveticaneuemedium1361522099.ttf')  format('truetype'), /* Safari, Android, iOS */
//     url('../fonts/helveticaneuemedium1361522099/helveticaneuemedium1361522099.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

